body {
  background: #333;
  color: #fff;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 300;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}
.slider {
  margin: 40px;
}
.width,
height {
  width: 300px;
}
button {
  width: var(--button-width);
  height: var(--button-height);
  border-radius: 1em;
  border: none;
  font-size: 14px;
}
